/* Reset default margin and padding */
html,
body,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* @TODO: Remove this styles after setting up Panda */
body {
  background-color: #fff;
  font-family: 'Poppins, sans-serif';
}

.avatar-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 24px 0;
}

.avatar {
  border-radius: 50%;
  display: flex;
  height: 150px;
  width: 150px;
}

.avatar.active {
  border: 4px solid #fff;
}

.avatar img {
  border-radius: inherit;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.dark-background {
  background-color: #000;
}

.device-desktop-only {
  display: none;
}

.footer-copyright {
  color: #fff;
}

.footer-inner-container {
  padding: 24px 0;
}

.footer-social-medias-links {
  color: #fff;
}

.original-image-container {
  display: none;
  position: relative;
}

.original-image-container img {
  border-radius: 4px;
}

.original-image-overlay {
  background-color: #ccc;
  height: 100%;
  left: 0;
  opacity: .8;
  position: absolute;
  top: 0;
  width: 100%;
}

.page-section {
  margin: 24px 0;
}

.page-section-full {
  margin: '0 auto';
  width: 100%;
  padding: 0;
}

.page-section-constrained {
  max-width: 980px;
  margin: 0 auto;
  width: 100%;
  padding: 0 16px;
}

.page-section-mobile-padding {
  padding: 0 16px;
}

.puzzle-configs {
  margin: 24px 0;
}

.puzzle-configs-item {
  align-items: center;
  display: flex;
  gap: 16px;
}

.puzzle-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.puzzle-info-container {
  margin: 24px 0;
}

.puzzle-inner-wrapper {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.puzzle-outer-wrapper {
  max-height: auto;
  max-width: 100%;
  position: relative;
}

.puzzle-row {
  display: grid;
}

.puzzle-tile-container {
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.puzzle-tile {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.puzzle-tile img {
  object-fit: cover;
}

.switch-container {
  align-items: center;
  display: flex;
  gap: 8px;
}

.switch-root {
  width: 42px;
  height: 25px;
  background-color: #333;
  border-radius: 9999px;
  opacity: .5;
  position: relative;
  box-shadow: 0 2px 10px #222;
  -webkit-tap-highlight-color: #333;
}

.switch-root[data-state='checked'] {
  background-color: #000;
  opacity: 1;
}

.switch-thumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}

.switch-thumb[data-state='checked'] {
  transform: translateX(19px);
}

.switch-label {
  color: #000;
  font-size: 16px;
  line-height: 1;
  padding-right: 16px;
}

.typography-h1 {
  font-size: 36px;
  font-weight: 700
}

.typography-body {
  font-size: 24px;
}

@media (min-width: 768px) {
  .device-mobile-only {
    display: none;
  }

  .footer-inner-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .puzzle-configs {
    align-items: center;
    display: flex;
    gap: 24px;
  }
}

@media (min-width: 1024px) {
  .device-desktop-only {
    display: block;
  }

  .original-image-container {
    display: block;
  }

  .puzzle-outer-wrapper {
    max-height: 500px;
    max-width: 500px;
  }
}
